@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center align-content-center">
    <h1 style="color:orangered">Congratulations</h1>
    <h3>Your Order Has been placed</h3>
    <h5>Your Order Id: ewe32-sdcsd32-sdcsd-2432-sdvcsd23</h5>
    <p> check all of your <a asp-action="UserOrder" asp-controller="Order">Orders</a></p>
    
    <p>To order more, Go to <a asp-controller="Home"asp-action="Index">Shop</a></p>
</div>
